form {
  position: relative;
  top:5px;
}
.full-width-field {
  width:90%;
  height:40px;
  margin:auto;
  padding-top: 10px;
  background-color: black;
  font-size: 16px;
  margin-bottom: 5px;
}

label {
  font-size: 24px;  
  color:silver;
  padding:0;
  position: relative;
  top: calc(50% - 17px);
  padding-left: 10px;
}

.field-input {
    float: right;
    width: calc(100% - 160px);
    position: relative;
    top: -2px;
    height: 80%;
    padding: 0;
    margin-right: 1%;
}

#description {
  height:80px;
}

.quarter-width-field {
  display: inline-block;
  width: calc((90% - 13px) / 4);
  height: 60px;
  background-color: black;
  font-size: 16px;
}

#difficulty {
  margin-left: 5%;
}

.quarter-width-field label {
  font-size: 12px;
  position: static;
  padding: 0;
  margin: auto;
  display: block;
}

.dropdown {
  margin-top: 5px;
  margin-left: 5%;
  width: 90%;
  height: 34px;
}

.half-width-field {
  display: inline-block;
  width: calc((90% - 4px) / 2);
  height: 65px;
  background-color: black;
  font-size: 16px;
}

.half-width-field label {
  font-size: 14px;
  position: static;
  padding: 0;
  margin: auto;
  display: block;
}

#taskType {
  margin-left: 5%;
  margin-top: 5px;
}

#deadline {
  margin-left: 5%;
  margin-top: 5px;
}

#deadlineType {
  position: relative;
  top: -2px;
}

#btnAddTask {
  margin-left:5%;
  margin-top: 5px;
  width: 90%;

}