.main {
	background-color: #456a32;
	height:100%;
}

.container {
    width: 45%;
    height: 100%;
    margin: 2.5%;
    margin-top: 0;
    background-color: #4d0099;
    float: left;
}

.main {
    height: 74%;
}

input {
    width: 90%;
    height: 50px;
    margin-left: 5%;
    margin-bottom: 20px;
}

.list-item {
    width: 90%;
    height: 50px;
    background-color: white;
    margin-top: 2px;
    margin-left: 5%;
    border: 2px solid black;
    text-align: center;
    font-size: 44px;
}

#btnAddEpic {
    margin-left: 25%;
    margin-bottom: 20px;
    width: 50%;
}

#btnAddType {
    margin-left: 25%;
    margin-bottom: 20px;
    width: 50%;
}

