.main {
	background-color: #456a32
	height:100%;
}
.container {
	width:100%;
}

.task {
	border-radius: 10px;
}

.IU {
  width:25%;
  height:50px;
  background-color: red;
}

.InU {
  width:25%;
  height:50px;
  background-color: yellow;
}

.nIU {
  width:25%;
  height:50px;
  background-color: orange;
}

.nInU {
  width:25%;
  height:50px;
  background-color: green;
}



.task-other {
  width:25%;
  height:50px;
  background-color: grey;
}

.startBtn {
  height:25px;
  width:75px;
  background-color: green;
}

