.main {
	background-color: #456a32;
	height:100%;
}
.container {
	width:100%;
}

.container h1 {
  margin-top: 0px;
}
.task-box {
  width: 49%;
  height: 75px;
  background-color: grey;
  border: 3px solid black;
  margin: 5px;
}

.task {
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  width: 70%;
  height: 100%;
  font-size:24px;
  float:left;
}

.IU {
  background-color: red;
}

.InU {
  background-color: yellow;
}

.nIU {
  background-color: orange;
}

.nInU {
  background-color: green;
}

.other {
	background-color: grey;
}

.btn {
	width: 30%;
  height: 50%;
  float: right;
}

.start {
	background-color: green;
}

.pause {
	background-color: orange;
}

.done {
    background-color: black;
    color: green;
}
    

.backlog {
    background-color: grey;   
}

.att {
  background-color: violet;
}

.archive {
  background-color: pink;  
}


