.main {
	background-color: #456a32;
	height:100%;
}
.container {
	width:100%;
  height:22%;
}

#quickAddBtn {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: #4d0099;
    color: white;
    position: fixed;
    top: 88%;
    left: 94%;
    font-size: 93px;
    text-indent: 23px;
}

#quickAddBtn:hover {
  cursor: pointer;
}

.container h1 {
  margin-top: 0px;
}
.task-box {
  width: 49%;
  height: 75px;
  background-color: grey;
  border: 3px solid black;
  margin: 5px;
  min-width:210px;
}

.task {
  text-align: center;
  display: inline-block;
  width: 70%;
  height: 100%;
  font-size:24px;
  float:left;
}

.pencil-icon {
  height:50px
  width:50px;
}

.task:hover {
  cursor: pointer;
}

.IU {
  background-color: red;
}

.InU {
  background-color: yellow;
}

.nIU {
  background-color: orange;
}

.nInU {
  background-color: green;
}

.other {
	background-color: grey;
}

.btn {
	width: 30%;
  height: 50%;
  float: right;
}

.start {
	background-color: green;
}

.pause {
	background-color: orange;
}

.done {
    background-color: black;
    color: green;
}
    

.backlog {
    background-color: grey;   
}

.att {
  background-color: violet;
}

.archive {
  background-color: pink;  
}

#editTaskOverlay {
    display: none;
    height: 90%;
    width: 90%;
    border: 2px solid black;
    position: fixed;
    top: 5%;
    left: 5%;
    background-color: white;
}

#close {
    height: 50px;
    width: 50px;
    background-color: grey;
    border-radius: 25px;
    position: relative;
    left: 99%;
    top: -3%;
    font-size: 42px;
    text-align: center;
}

#close:hover {
  cursor: pointer;
}

form {
    position: relative;
    top: -15px;
    height: 100%;
}

#taskIdDiv {
  display: none;
}

.label {
  font-size: 18px;
  background-color: black;
  display: inline;
  color: white;
  position: relative;
  bottom: 19px;
}

.typeIcon {
  font-size: 18px;
  background-color: white;
  display: inline;
  color: black;
  position: relative;
  bottom: 74px;
  right: 82px;
}

.deadline {
  position: relative;
  bottom: 20px;
  display: inline;
}

.bold {
  font-weight: 900;
}