<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hedgehog</title>    
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css?version=11">
    <link rel="stylesheet" type="text/css" href="../static/css/add-task-styles.css?version=1">
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/addtask.js?version=14"></script>
    <script src="../static/js/functions.js?version=1"></script>
</head>

<body>
	<div class="header">
		<h1>Hedgehog</h1>
	</div>
	<div class="topnav">
	  <a id="homebtn">Home</a>
	  <a id="currentTask">Current Task</a>
	  <a id="profilebtn">Profile</a>
	</div>
	<div class="main"> 
		<form class="form-add-task">
			<div class="full-width-field" id="title">
				<label for="inputTitle" class="field-title">Title</label>
				<input name="inputTitle" id="inputTitle" class="field-input" required>
			</div>
			<div class="full-width-field" id="description">
				<label for="inputDescription" class="field-title">Description</label>
	          	<input name="inputDescription" id="inputDescription" class="field-input" required>
			</div>
			<div class="quarter-width-field" id="difficulty">
				<label for="inputComplexity" class="field-title">Complexity</label>
				<select name="inputComplexity" class="dropdown" id="complexity-dropdown">
				  <option value="1">1</option>
				  <option value="2">2</option>
				  <option value="3">3</option>
				  <option value="5">5</option>
				  <option value="8">8</option>
				  <option value="13">13</option>				  
				</select>
			</div>
			<div class="quarter-width-field" id="time">
				<label for="inputTime" class="field-title">Time</label>
				<select name="inputTime" class="dropdown">
				  <option value="1">1</option>
				  <option value="2">2</option>
				  <option value="3">3</option>
				  <option value="5">5</option>
				  <option value="8">8</option>
				  <option value="13">13</option>				  
				</select>
			</div>
			<div class="quarter-width-field" id="urgency">
				<label for="inputUrgency" class="field-title">Urgency</label>
				<select name="inputUrgency" class="dropdown">
				  <option value="High">High</option>
				  <option value="Low">Low</option>
				</select>
			</div>
			<div class="quarter-width-field" id="importance">
				<label for="inputImportance" class="field-title">Importance</label>
				<select name="inputImportance" class="dropdown">
				  <option value="High">High</option>
				  <option value="Low">Low</option>
				</select>
			</div>
			<div class="half-width-field" id="taskType">
				<label for="inputType" class="field-title">Task Type</label>
				<select name="inputType" class="dropdown">
	          		<option value="JIRA">JIRA</option>
	          		<option value="Hipchat">Hipchat</option>
	          		<option value="Email">Email</option>
	          		<option value="F2F">F2F</option>
	          		<option value="Meeting">Meeting</option>
	          		<option value="Review">Review</option>
	          		<option value="Think">Think</option>
	          		<option value="Other">Other</option>
	          	</select>
	        </div>
	        <div class="half-width-field">
	        	<label for="inputEpic" class="field-title">Epic</label>
	          	<select name="inputEpic" class="dropdown">
	          		<option value="Poker">Poker </option>
	          		<option value="DFG">DFG</option>  
	          		<option value="Multi-player">Multi-player</option>
	          		<option value="Personal">Personal</option>
	          		<option value="Admin">Admin</option>
	          		<option value="Other">Other</option>
	            </select>
	        </div>
	        <div class="half-width-field" id="deadline">
	        	<label for="inputDeadline" class="field-title">Deadline</label>
	          	<input type="date" name="inputDeadline" id="inputDeadline" class="dropdown" required>
	        </div>
	        <div class="half-width-field" id="deadlineType">
	        	<label for="deadlineType" class="field-title">Deadline Type</label>
	        	<select name="deadlineType" class="dropdown">
				  <option value="HARD">HARD</option>
				  <option value="SOFT">SOFT</option>
				</select> 	          	
	        </div>
	        <button id="btnAddTask" class="bggb" type="button">Add Task</button>


		<!--  <div id="primaryFields">		  	
	          
	     
	        <button id="btnNextFields1" class="bggb" type="button">Next</button>
	        <button id="btnNextFields2" class="bggb" type="button">Next</button>
	        <button id="btnAddTask" class="bggb" type="button">Add Task</button>-->
        </form>        
	</div>
	
	<div class ="footer">
		<button id="killserver" class="bggb" type="button">killserver</button>
	</div>
</body>
