<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hedgehog</title>    
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css?version=6">
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/homepage.js?version=7"></script>
</head>

<body>
	<div class="header">
		<h1>Hedgehog</h1>
	</div>
	<div class="main">
		<h1>Add a Task!</h1> 
	</div>
	
	<div class ="footer">
		<button id="killserver" class="bggb" type="button">killserver</button>
	</div>
</body>
