<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hedgehog</title>    
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css?version=11">
    <link rel="stylesheet" type="text/css" href="../static/css/homepage-styles.css?version=2">
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/homepage.js?version=6"></script>
</head>

<body>
	<div class="header">
		<h1>Hedgehog</h1>
	</div>
	<div class="topnav">
	  <a id="homebtn">Home</a>
	  <a id="currentTask">Current Task</a>
	  <a id="profilebtn">Profile</a>
	</div>
	<div class="main">
		<div class="primary-button" id="btn-add-task">
			<div class="button-label" id="primary-label">
				Add Task
			</div>
		</div>
		<div class="secondary-button" id="btn-to-do-today">
			<div class="button-label" id="secondary-label">
				To Do Today
			</div>
		</div>
		<div class="tertiary-buttons">		
			<div class="tertiary-button" id="view-tasks-button">
				<div class="button-label" id="tertiary-label">
					View tasks
				</div>
			</div>
			<div class="tertiary-button" id="view-stats-button">
				<div class="button-label" id="tertiary-label">
					View stats
				</div>			
			</div>  	
		</div>		 
	</div>
	
	<div class ="footer">
		<button id="killserver" class="bggb" type="button">killserver</button>
	</div>
</body>
