<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hedgehog</title>    
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css?version=3">
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/homepage.js?version=5"></script>
</head>

<body>
	<div class="header">
		<h1>Hedgehog</h1>
	</div>
	<div class="main">
		<div class="primary-button">
			<div id="add-task-button">
				<h1>Add Task</h1>
			</div>
		</div>
		<div class="secondary-buttons" id="container">		
			<div id="view-tasks-button">
				<h1>View tasks</h1>			
			</div>
			<div id="view-stats-button">
				<h1>View stats</h1>				
			</div>  	
		</div>		 
	</div>
	
	<div class ="footer">
		<button id="killserver" class="bggb" type="button">killserver</button>
	</div>
</body>
