<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hedgehog</title>    
    <meta http-equiv="Cache-Control" content="no-cache"/> 
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css?version=4">
    <link rel="stylesheet" type="text/css" href="../static/css/log-in-styles.css?version=4">
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/homepage.js?version=7"></script>
    <script src="../static/js/functions.js?version=1"></script>
</head>

<body>
	<div class="header">
		<h1>Hedgehog</h1>
	</div>
	<div class="main">
		<div class="login-box">
		</div>
		<div class="new-user-box">
			<div id="skip-button">
				<h1>Skip Registration</h1>
			</div>
		</div>  
	</div>
	
	<div class ="footer">
		<button id="killserver" class="bggb" type="button">killserver</button>
	</div>
</body>
