<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hedgehog</title>    
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css?version=1">
    <link rel="stylesheet" type="text/css" href="../static/css/profile-styles.css?version=1">
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/tasks.js?version=1"></script>
    <script src="../static/js/functions.js?version=1"></script>
</head>
<body>
	<div class="header">
    <h1>Hedgehog</h1>
  </div>
  <div class="topnav">
    <a id="homebtn">Home</a>
    <a id="currentTask">Current Task</a>
    <a id="profilebtn">Profile</a>
  </div>
	<div class="main">
    <div class="container" id="epicContainer">
    </div>
    <div class ="container" id="typeContainer">
    </div>
    <form class="add epic">
      <input name="addEpic" id="addEpic" class="field-input" required>
    </form>
    <form class="add type">
      <input name="addType" id="addType" class="field-input" required>
    </form>
  </div>
	<div class ="footer">
		<button id="killserver" class="bggb" type="button">killserver</button>
	</div>
</body>
