<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hedgehog</title>
    <meta http-equiv="Cache-Control" content="no-cache"/>     
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css?version=1">
    <link rel="stylesheet" type="text/css" href="../static/css/profile-styles.css?version=2">
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/profile.js?version=7"></script>
    <script src="../static/js/functions.js?version=1"></script>
</head>
<body>
	<div class="header">
    <h1>Hedgehog</h1>
  </div>
  <div class="topnav">
    <a id="homebtn">Home</a>
    <a id="currentTask">Current Task</a>
    <a id="profilebtn">Profile</a>
  </div>
	<div class="main">
    <div class="container" id="epicContainer">      
      <div class="addNew" id="addEpicContainer">
        <h3>Add a new Epic</h3>
        <form class="add epic">
          <input name="addEpic" id="addEpic" class="field-input" required>
          <button id="btnAddEpic" class="bggb" type="button">Add</button>
        </form>
        <h2>List of Exisiting Epics</h2>
      </div>
    </div>
    <div class ="container" id="typeContainer">      
      <div class="addNew" id="addTypeContainer">
        <h3>Add a new Tast Type</h3>
        <form class="add Type">
          <input name="addType" id="addType" class="field-input" required>
          <button id="btnAddType" class="bggb" type="button">Add</button>
        </form>
        <h2>List of Exisiting Task Types</h2>
      </div>
    </div>  
  </div>
	<div class ="footer">
		<button id="killserver" class="bggb" type="button">killserver</button>
	</div>
</body>
