<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hedgehog</title>    
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css?version=13">
    <link rel="stylesheet" type="text/css" href="../static/css/tasks-styles.css?version=15">
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/tasks.js?version=34"></script>
    <script src="../static/js/functions.js?version=1"></script>
</head>
<body>
	<div class="header">
    <h1>Hedgehog</h1>
  </div>
  <div class="topnav">
    <a id="homebtn">Home</a>
    <a id="currentTask">Current Task</a>
    <a id="profilebtn">Profile</a>
  </div>
	<div class="main">		
    <div class="action-buttons">  
      <div class="bggb" id="btnGetInProgress">
        <p>In Progress</p>
      </div>              
      <div class="bggb" id="btnGetTasks">
        <p>Get All Tasks</p>
      </div>
      <div class="bggb" id="btnGetHardDeadlines">
        <p>Hard Deadlines</p>
      </div>
      <div class="bggb" id="btnGetToDoToday">
        <p>To Do Today</p>
      </div>
      <div class="bggb" id="btnGetDone">
        <p>Done</p>
      </div>
    </div>
		<table id="tableOfTasks">
          <thead>
            <tr>                
                <th>Task</th>
                <th>Actions</th>
            </tr>
          </thead>
          <tbody>
              <tr>                
              </tr>
          </tbody>          
    </table>
    <table id="tblTodaysTasks">
          <thead>
            <tr>                
                <th>Task</th>
                <th>Actions</th>
            </tr>
          </thead>
          <tbody>
              <tr>                
              </tr>
          </tbody>          
    </table>  
	</div>	
	<div class ="footer">
		<button id="killserver" class="bggb" type="button">killserver</button>
	</div>
</body>
