<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hedgehog</title>    
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css?version=12">
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/tasks.js?version=16"></script>
</head>

<body>
	<div class="header">
		<h1>Hedgehog</h1>
    <button id="btnHome" class="bggb" type="button">Home</button>
	</div>
	<div class="main">
		<h1>List of Tasks!</h1>
    <div class="bggb" id="btnGetTasks">
      <h1>Get All Tasks</h1>
    </div>
		<table id="tableOfTasks">
          <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Type</th>
                <th>Epic</th>
                <th>Complexity</th>
                <th>Time</th>
                <th>Urgency</th>
                <th>Importance</th>
                <th>Deadline</th>
                <th>Deadline Type</th>
                <th>Status</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>Test</td>
              </tr>
          </tbody>          
        </table> 
	</div>
	
	<div class ="footer">
		<button id="killserver" class="bggb" type="button">killserver</button>
	</div>
</body>
